@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1C3142;
    font-family: 'Open Sans', sans-serif;
}

p{
	padding: 5px;
	font-size: 13px;
	color: #8293A1;
}

.title{
	font-size: 55px;
    letter-spacing: 0.2em;
	font-style: none;
	font-family: 'Noticia Text', serif; 
	color: #8293A1;
	text-align: center;
    text-transform: uppercase;
}

.header1{
	font-family: 'Noticia Text', serif;
	font-size: 70px;
	color: white;
    text-transform: capitalize;
	font-weight: bold;
	margin-top:0px;
	display: inline-block;
}

.header2{
	font-family: 'Noticia Text', serif;
	font-size: 30px;
	color: #D2D4D1;
	font-weight: bold;
	margin-top:0px;
	display: inline-block;
}

.beautify-h2{
	font-family: 'Noticia Text', serif;
	color: #50C4ED;
	font-weight: bold;
	margin-top:0px;

}

.header3{
	font-family:'Open Sans', sans-serif;
	font-style: italic;
	font-size: 25px;
	color: #8293A1;
	padding-left: -5px;
	margin-bottom:0;
	display: inline-block;

}

.socials a{
	display: inline-block;
    text-decoration: none;
	height: 40px;
	width: 40px;
	background-color: lightgrey;
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
	transition: all 0.5s ease;
}

.socials a:hover{
	transform:scale(1.2);

}


.img-con img{
	max-width: 24rem;
	max-height: 24rem;
}

/*** DELETE LATER (if not needed) ***/
.album{
	width: 100%;
	display:inline-flex;
}
.album img{
	transition: all 0.3s ease;
	display: inline-flex;
	padding: 2%;
}
.album img:hover{
	transform: scale(1.1);
}

/***  ***/
.home {
	display: inline-flex;
	flex-direction: row;
}

.intro-container{
	flex: 1;
}


